a {
    text-decoration: none;
}

body {
    background-color: #f3f3f3;
        font-family: 'LibreBaskerville-Regular','Palatino Linotype','Times New Roman','serif';
}

h1, h2, h3, h4, h5, p, span, a {
    font-family: 'LibreBaskerville-Regular','Palatino Linotype','Times New Roman','serif'
}