// @mixin clickable {
//     color: black;
//     cursor: pointer;
//     transition: $default-timing;
//     &:hover {
//        color: $orange-color; 
//     }
// }
@mixin clickable($color: 'black') {
    color: $color;
    cursor: pointer;
    transition: $default-timing;
    &:hover {
       color: $orange-color; 
    }
}
@mixin close-button {
    color: black;
    cursor: pointer;
    transition: $default-timing;
    &:hover {
       color: red; 
    }
}