.projects__container {
//   display: grid;
//   grid-template-columns: 20% 80%;
//   height: 700px;
  justify-content: space-between;

}
p {
    // color: gray;
}
h1 {
  padding-top: 10px;
}

h2 {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
.projects {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/1a/Abstract-background-white-12.jpg');
    background-size: cover;
}